<h1> English test</h1>
<h1>利用規約</h1>

<p>
	最終改訂日：2015年6月1日</p>

<p>本サイトの利用規約は日本語でのみ提供されます。英語およびその他の言語で表示されている場合には、以下の文章はあくまでも参考訳であり、いかなる法的な効力も持たないことをここに明記しておきます。</p>

<h2>はじめに</h2>

<p>このページに記載されている利用規約（以下、「本規約」）はユーザに対してもなとれ（http://monatr.jp/）およびその関連サービス（以下、「本サービス」）をご利用いただく際の条件を定めます。本規約にご同意いただけない場合には本サービスをご利用いただくことはできません。また、本サービスをご利用された時点で、本規約に同意されたものとみなします。本規約に違反する行為を行った場合には、一切の警告なく当該アカウントおよび預り金の凍結もしくは抹消を行うものとします。</p>

<h2>提供サービス</h2>

<p>本サービスはユーザ同士が円滑に暗号通貨を交換することのできるプラットフォームを提供いたします。ユーザは、本サービスを暗号通貨の交換にのみに利用するものとし、本サービスの提供する口座をオンラインウォレット代わりに使うなどの、交換以外の利用は行わないものとします。</p>

<h2>預り金</h2>

<p>ユーザが本サービスへ入金された暗号通貨（以下、「預り金」）の所有権は、本サービスへ属すものとします。従って、本サービスへの入金によって得られた残高や、他ユーザとの交換によって得られた残高と同量の暗号通貨の返金を必ずしも保証するものではありません。特に、ソフトウェアの不具合やハードウェアの故障、もしくは人的被害（操作ミス等）を含むいかなる障害が発生し、本サービスの保有する預り金が消失した場合にも、本サービスは一切の責任を負わないものとします。（そのため、ユーザには交換を行いたい数量を超えた量の暗号通貨は直ちに自分のウォレットへ出金することが推奨されます。）</p>

<h2>サービス終了</h2>

<p>本サービスはいついかなるときでも、事前の告知や通知を行わずに一時停止もしくは終了を行えるものとします。また、入出金処理や約定処理など、本サービスの一部の機能のみを一時停止もしくは終了する権限も持つものとします。</p>

<h2>アカウント</h2>

<p>本サービスではOpenIDを用いて、第三者機関によるユーザ認証を行っております。そのため、ユーザは第三者機関において適切にパスワードやトークン情報を管理し、運用するものとします。第三者機関における認証情報の漏洩や、認証システムの不具合、その他いかなる障害の発生により本サービスのアカウントに不正にアクセスされた場合でも、本サービス側では一切の責任を負いません。また、ユーザは、いかなる理由があろうとも、自身の保有するアカウントの他人への譲渡や売却を行ってはいけません。また、６ヶ月以上ログインのないアカウントに対しては、事前の警告や告知なしに当該アカウントの凍結や削除を行えるものとします。</p>

<h2>禁止事項</h2>

<p>ユーザは法律や社会秩序を乱すような、いかなる行為も行ってはいけません。特に、次のような事項を禁止します。</p>

<ul>
	<li>本サービスの不具合（本サービスが本来意図しない操作を行うことも含む）を利用し、不正に操作を行うこと。</li>
	<li>マネーロンダリング（暗号通貨自体のマネーロンダリングも含む）やその他いかなる違法行為や、その他いかなる社会的に容認されない行為を行うことを目的とし、本サービスを利用すること。</li>
	<li>暗号通貨の交換ではなく、市場価格を操作する目的で注文を発注すること。（いわゆる「相場操縦」を行うこと）</li>
	<li>注文を約定させる意思がないにも拘らず、注文を発注すること。（いわゆる「見せ玉」を行うこと）</li>
	<li>知り合いと通謀し、もしくは自分自身の注文にぶつける形で注文を発注すること。（いわゆる「仮装売買」「馴合売買」を行うこと）</li>
	<li>自身のみ、もしくは特定の人間のみが知り得た情報をもとに、注文を発注すること。（いわゆる「インサイダー取引」を行うこと）</li>
	<li>その他、一般的に不正とみなされるような注文を行うこと。</li>
</ul>

<p>以上。</p>
