<h1>説明</h1>

<p>改訂日：2015年7月26日</p>

<br />

<h3>目次</h3>
<ul>
  <li><a href="#site_explanation">サイトの説明</a></li>
  <li><a href="#site_explanation">サイトの使い方</a></li>
  <li><a href="#fee">手数料</a></li>
  <li><a href="#rule">利用規約</a></li>
</ul>

<br />
<br />
<h2 id="site_explanation">サイトの説明</h2>

<h3>サイトの紹介</h3>

<p>このサイト（www.bitchange.jp） は暗号通貨（仮想通貨とも呼ばれる）の売買をする場です。</p>

<p>基本はFX や株の売買と同じです。</p>

<p>たとえば、Bitcoin を持っていてLitecoinを買いたい場合、Bitcoin売りLitecoin買いの注文を出します。それに対応するLitecoin買いBitcoin売りの注文があれば、取引が成立し、Litecoinを手に入れることができます。</p>

<p>取り扱い通貨は４種類（Bitcoin, Litecoin, Monacoin, Dogecoin）です。</p>

<h3>サイトの特徴</h3>

<p>４種類（Bitcoin, Litecoin, Monacoin, Dogecoin）の暗号通貨の取引ができます。</p>

<p>どの組み合わせでも売買ができます。たとえばDogecoinを売ってMonacoinを直接買うことができます。</p>

<p>登録は、メールアドレスの存在確認のみで、本人確認などの面倒な手続きはありません。</p>

<p>現金の取り扱いはなく、暗号通貨のみの取り扱いになります。</p>

<br />
<h2 id="site_usage">サイトの使い方</h2>

<h3>登録手順</h3>

<p>登録メニューから、お使いのメールアドレスとパスワードを入力することにより登録できます。そのメールアドレスにメールがいきますので、確認のリンクをクリックしてください。これによりログインが可能になります。</p>


<h3>ログイン</h3>

<p>ログインメニューをクリックし、メールアドレスとパスワードを入力してください。</p>

<h3>入金手順</h3>

<p>ログイン後に入出金メニューをクリックすると、各暗号通貨の入金用のアドレスが表示されます。またQRコードでも表示されます。PCであれば、アドレスをコピー＆ペースト、スマホであればウォレットからカメラでQRコードを読み取ってください。ここに暗号通貨を入金してください。問題がなければ、２０分程度でサイトに反映されます。</p>

<h3>取引注文</h3>

<p>取引メニューをクリックすると、それぞれの暗号通貨の組み合わせのタブの下に、それぞれのローソク足のチャートと、気配値が表示されます。またその通貨の残高も表示されます。</p>
<p>その下に、売買注文のエリアがあります。ここに数字を入れて注文を出してください。「売り」と「買い」はタブで切り替えます。</p>
<p>そに下には、ご自身の未約定の注文が反映されます。</p>

<h3>表示の反映</h3>

<p>気配値は約2分ごと更新されます。</p>

<br />

<h2 id="fee">手数料</h2>

<p>手数料として「取引手数料」と「出金手数料」を頂いております。入金手数料はありません。</p>

<h3>取引手数料</h3>

<p>手数料は 0.1％ です。</p>
<p>注文が約定した時に購入数量の一部を差し引く形で取引手数料が発生します。約定された部分にのみ手数料が発生し、未約定部分には手数料は発生いたしません。</p>


<h3>出金手数料</h3>
<table border="1px">
  <tr><th width="130">通貨</th><th width="130">手数料</th></tr>
  <tr><td>ビットコイン</td><td>0.001 btc</td></tr>
  <tr><td>ライトコイン</td><td>0.01 ltc</td></tr>
  <tr><td>モナコイン</td><td>0.001 mona</td></tr>
  <tr><td>ドージコイン</td><td>1 doge</td></tr>
</table>
<br />
<br />

<h2 id="rule">利用規約</h2>

<p>このページに記載されている利用規約（以下、「本規約」）はユーザに対して「」およびその関連サービス（以下、「本サービス」）をご利用いただく際の条件を定めます。本規約にご同意いただけない場合には本サービスをご利用いただくことはできません。また、本サービスをご利用された時点で、本規約に同意されたものとみなします。本規約に違反する行為を行った場合には、一切の警告なく当該アカウントおよび預り金の凍結もしくは抹消を行うものとします。</p>

<h3>預り金</h3>

<p>ユーザが本サービスへ入金された暗号通貨（以下、「預り金」）の所有権は、本サービスへ属すものとします。従って、本サービスへの入金によって得られた残高や、他ユーザとの交換によって得られた残高と同量の暗号通貨の返金を必ずしも保証するものではありません。特に、ソフトウェアの不具合やハードウェアの故障、もしくは人的被害（操作ミス等）を含むいかなる障害が発生し、本サービスの保有する預り金が消失した場合にも、本サービスは一切の責任を負わないものとします。（そのため、ユーザには交換を行いたい数量を超えた量の暗号通貨は直ちに自分のウォレットへ出金することが推奨されます。）</p>

<h3>アカウント</h3>

<p>本サービスでは、メールアドレスでの登録、およびメールでのユーザー確認を行っています。ユーザーは他から類推されない十分な強度をもったパスワードを使う義務を負います。パスワードが他から類推された場合の不利益について、本サービス側では一切の責任を負いません。また、ユーザは、いかなる理由があろうとも、自身の保有するアカウントの他人への譲渡や売却を行ってはいけません。また、６ヶ月以上ログインのないアカウントに対しては、事前の警告や告知なしに当該アカウントの凍結や削除を行えるものとします。</p>

<h3>禁止事項</h3>

<p>ユーザは法律や社会秩序を乱すような、いかなる行為も行ってはいけません。特に、次のような事項を禁止します。</p>

<ul>
	<li>本サービスの不具合（本サービスが本来意図しない操作を行うことも含む）を利用し、不正に操作を行うこと。</li>
	<li>マネーロンダリング（暗号通貨自体のマネーロンダリングも含む）やその他いかなる違法行為や、その他いかなる社会的に容認されない行為を行うことを目的とし、本サービスを利用すること。</li>
	<li>その他、一般的に不正とみなされるような注文を行うこと。</li>
</ul>

<p>以上。</p>
