<% provide(:cont, 'explanation') %>

<h1>説明</h1>


<h3>目次</h3>
<ul>
  <li><a href="#site_explanation">サイトの説明</a></li>
  <li><a href="#site_explanation">サイトの使い方</a></li>
  <li><a href="#fee">手数料</a></li>
  <li><a href="#rule">利用規約</a></li>
</ul>
<br />
<br />
<h2 id="site_explanation"><b>サイトの説明</b></h2>
<br />

<h3>サイトの紹介</h3>

<p>本サービス（www.bitchange.jp） は、ユーザが暗号通貨（仮想通貨とも呼ばれます）の売買をする場を提供します。</p>

<p>暗号通貨の売買の方法は、基本的には、FXや株の売買と同じです。</p>

<p>たとえば、Bitcoin を持っていてLitecoinを買いたい場合、Bitcoin売りLitecoin買いの注文を出します。それに対応するLitecoin買いBitcoin売りの注文があれば、取引が成立し、Litecoinを手に入れることができます。</p>

<p>取り扱い暗号通貨は４種類（Bitcoin, Litecoin, Monacoin, Dogecoin）です。</p>

<br />
<h3>サイトの特徴</h3>

<ul>
	<li>４種類（Bitcoin, Litecoin, Monacoin, Dogecoin）の暗号通貨の取引ができます。</li>
	<li>どの組み合わせでも売買ができます。たとえばMonacoinを売ってBitcoinを買うことができます。</li>
	<li>この際、これらの暗号通貨の間では他の仮想通貨を間に入れることなく直接売買ができます。
	<li>登録は、メールアドレスの存在確認のみで、本人確認などの面倒な手続きはありません。</li>
	<li>現金の取り扱いはなく、暗号通貨のみの取り扱いになります。</li>
</ul>

<br />
<h3>サイトの安全性</h3>
<ul>
	<li>本サイトはSSLサーバ証明を受けておます。本サイト上で入力されるメールアドレスやパスワードを始め、本サイトとPCとの間のすべての情報が暗号化されて送受信されるため、「なりすまし」「改ざん」「盗聴」といったリスクを防ぐことができます。</li>
	<li>ユーザから預かった暗号通貨残高のうち、流動しないものについてはシステム内からは完全に隔離されたオフラインの保管庫（Cold Storage）に保存されます。</li>
	<li>システムトラブルやデータの改ざん等の場合に備えて、ユーザのアカウント情報や取引情報は毎日バックアップされます。</li>
	<li>これらのデータが収められているデータベースは外部から分離しており、インターネットから直接アクセスはできません。</li>
</ul>
<br />
<h2 id="site_usage"><b>サイトの使い方</b></h2>

<h3>登録手順</h3>

<p>本サイトの「登録」メニューから、お使いのメールアドレスとパスワードを入力することによりユーザ登録できます。そのメールアドレスに本サービスからメールが届きますので、確認のリンクをクリックしてください。これにより本サイトへのログインが可能になります。</p>

<br />

<h3>ログイン</h3>

<p>「ログイン」メニューをクリックし、メールアドレスとパスワードを入力してください。</p>
<p>ログインすると、もともとあった「取引」「説明」「お問い合わせ」のメニューに加えて、新しく「注文一覧」「入出金」「残高」「アカウント」「ログアウト」のメニューが表示されます。</p>

<br />

<h3>入金手順</h3>

<p>ログイン後に「入出金」メニューをクリックすると、各暗号通貨の入金用のアドレスが表示されます。またQRコードでも表示されます。PCであれば、アドレスをコピー＆ペーストし、またスマートフォンであればウォレットのカメラでQRコードを読み取ってください。ここに暗号通貨を入金してください。問題がなければ、数分〜10分程度でサイトに反映されます。</p>

<br />
<h3>取引注文</h3>

<p>「取引」メニューをクリックすると、それぞれの暗号通貨の組み合わせのタブの下に、それぞれのローソク足のチャートと、気配値が表示されます。またその通貨の残高も表示されます。</p>
<p>その下に、売買注文のエリアがあります。ここに数字を入れて注文を出してください。「売り」と「買い」はタブで切り替えます。</p>
<p>その下には、ご自身の未約定の注文が表示されます。</p>

<br />
<h3>注文の取り消し</h3>

<p>約定されていない注文は、いつでも取り消しを行うことができます。また一部約定されている注文の場合でも、その約定されていない部分について、注文の取り消しを行うことができます。</p>
<p>「注文一覧」のメニューをクリックし、「詳細」をクリックすると、注文の詳細が閲覧できます。未約定の注文である場合は、キャンセルボタンが表示されますので、これをクリックすることにより取り消しを行えます。</p>

<br />

<h3>表示</h3>

<p>気配値は約1~2分ごとに更新されます。</p>
<p>表示のため、気配値には丸め誤差が包まれております。その誤差は絶対値で0.1未満です。</p>

<br />

<h2 id="fee"><b>手数料</b></h2>

<p>手数料として「取引手数料」と「出金手数料」を頂いております。入金手数料はありません。</p>

<br />
<h3>取引手数料</h3>

<p>手数料は 0.1％ です。</p>
<p>注文が約定した時に購入数量の一部を差し引く形で取引手数料が発生します。約定された部分にのみ手数料が発生し、未約定部分には手数料は発生いたしません。</p>


<br />
<h3>出金手数料</h3>
<table border="1px">
  <tr><th width="130">通貨</th><th width="130">手数料</th></tr>
  <tr><td>ビットコイン</td><td>0.001 btc</td></tr>
  <tr><td>ライトコイン</td><td>0.01 ltc</td></tr>
  <tr><td>モナコイン</td><td>0.001 mona</td></tr>
  <tr><td>ドージコイン</td><td>1 doge</td></tr>
</table>
<br />
<br />

<h2 id="rule"><b>利用規約</b></h2>

<p>このページに記載されている利用規約（以下、「本規約」）はユーザに対して「」およびその関連サービス（以下、「本サービス」）をご利用いただく際の条件を定めます。本サービスをご利用された時点で、本規約に同意されたものとみなします。本規約に違反する行為を行った場合には、一切の警告なく当該アカウントおよび預り金の凍結もしくは抹消を行うことがあります。</p>


<h3>本サービスの仕様</h3>

<p>本サービスは、ユーザーの利便性やセキュリティの向上、新サービスの追加などのため、仕様を変更することがあります。またメンテナンスやアップデートのため、サービスを一時中断する場合があります。本サービスは、ウイルスその他有害な内容を含まないこと，セキュリティーが有効であることなどの安全性に最大限の努力は行いますが，安全性，完全性，バグ及び瑕疵がないことは保証いたしかねます。</p>

<h3>アカウント</h3>

<p>本サービスでは、メールアドレスでの登録、およびメールでのユーザー確認を行っています。ユーザーは他から類推されない十分な強度をもったパスワードを使ってください。パスワードが他人から類推され、悪用された場合の不利益について、本サービス側では一切の責任を負いません。また、ユーザは、いかなる理由があろうとも、自身の保有するアカウントの他人への譲渡や売却を行ってはいけません。また、６ヶ月以上ログインのないアカウントに対しては、事前の警告や告知なしに当該アカウントの凍結や削除をおこなうことがあります。</p>

<h3>反社会的活動の禁止</h3>

<p>ユーザは法律や社会秩序を乱すような、いかなる行為も行ってはいけません。特に、次のような事項を禁止します。</p>

<ul>
	<li>本サービスの不具合（本サービスが本来意図しない操作を行うことも含む）を利用し、不正に操作を行うこと。</li>
	<li>マネーロンダリング（暗号通貨自体のマネーロンダリングも含む）やその他いかなる違法行為や、その他いかなる社会的に容認されない行為を行うことを目的とし、本サービスを利用すること。</li>
	<li>その他、一般的に不正とみなされるような注文を行うこと。</li>
	<li>法令に違反するおこないをすること。</li>
</ul>

<h3>免責</h3>

<p>本サービスは、セキュリティーの向上を常に行い、ユーザ同士の暗号通貨の売買が安全で円滑にできる場を提供しております。しかしながら、ソフトゥエア、ハードウェアの故障、もしくは人的被害（操作ミス等）を含むいかなる障害が発生し、本サービスの保有する預り金が消失した場合に、本サービスは一切の責任を負わないものとします。（そのため、ユーザには交換を行いたい数量を超えた量の暗号通貨は直ちに自分のウォレットへ出金することが推奨されます。）</p>

<h3>準拠法及び時間</h3>

<p>本利用規約の準拠法は日本法とし、本サービスでは日本標準時(JST)を使用します。</p>

<br />
<br />

<p>改訂日：2015年9月18日</p>


