<h1>お問い合わせがありました</h1>

<p>近日中に、<br />
  <%= @inquiry['email'] %><br />
  宛に返事をしてください。
</p>

<br />

<p>受け付けたメールの内容<p/>

<p>タイトル：<%= @inquiry['title'] %></p>
<p>送り主：<%= @inquiry['email'] %></p>
<p>内容：<br />
  <%= @inquiry['content'] %>
</p>



