<h1>Your Inquiry was accepted.</h1>

<p>Thank you very much for your inquiry.</p>

<p>We will reply back to your email:<br />
<%= @inquiry['email'] %>,<br />
shortly.
</p>

<br />

<p>Contens of email accepted.<p/>

<p>Title：<%= @inquiry['title'] %></p>
<p>Sender：<%= @inquiry['email'] %></p>
<p>Content：<br />
  <%= @inquiry['content'] %>
</p>



