<h1>お問い合わせを受け付けました</h1>

<p>お問い合わせ、ありがとうございます。</p>

<p>近日中に、<br />
<%= @inquiry['email'] %><br />
宛にお返事を送ります。
</p>

<br />

<p>受け付けたメールの内容<p/>

<p>タイトル：<%= @inquiry['title'] %></p>
<p>送り主：<%= @inquiry['email'] %></p>
<p>内容：<br />
  <%= @inquiry['content'] %>
</p>



