table{
  	text-align: center;
}

table tr th {
  text-align: center;
}
.graph {
    position: relative; /* IE is dumb */
    width: 40px;
}

.graph .bar1 {
    display: block;
    position: relative;
    background: #B04440;   /*(redぽい)*/
    text-align: right;
    color: #000000;
    height: 1em;
    line-height: 1em;
    float: right;
    font-size: 10pt;
}

.graph .bar2 {
    display: block;
    position: relative;
    background: #40B440;   /*(greenぽい)*/
    text-align: right;
    color: #000000;
    height: 1em;
    line-height: 1em;
    font-size: 10pt;
}

.graph .bar1 span { position: absolute;}
.graph .bar2 span { position: absolute;}

.alert-notice {
  color: green;
}

.alert-alert{
  color: red;
}

.field_with_errors {
  padding: 2px; 
  background-color: red;
  display: table;
}

#error_explanation {
  color: #f00;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

input {
  height: auto !important;
}

div ul li.active {
  font-weight: bold;
}
