table{
  	text-align: center;
}

table tr th {
  text-align: center;
}
.graph {
    position: relative; /* IE is dumb */
}

.graph .bar1 {
    position: absolute;
    top: -8px;
    right: 0;
    z-index:1;
    height:14px;
    display: block;
    background: #FA5858;

    // background: #B04440;   /*(redぽい)*/
}

.graph .bar2 {
    position: absolute;
    top: -8px;
    left: 0;
    z-index:1;
    height:14px;
    display: block;
    background: #81BEF7;   /* (blueぽい) */

    // background: #40B440;   /* (greenぽい) */
}

.graph p {
  position:absolute;
  top:-9px;
  right:0;
  z-index:3;
  height:14px;
  font-size:10pt;
}


.alert-notice {
  color: green;
}

.alert-alert{
  color: red;
}

.field_with_errors {
  padding: 2px; 
  background-color: red;
  display: table;
}

#error_explanation {
  color: #f00;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

input {
  height: auto !important;
}

div ul li.active {
  font-weight: bold;
}

div #qrcode {
  table {
    border-width: 0;
    border-style: none;
    border-color: #0000ff;
    border-collapse: collapse;
  }

  td {
    border-left: solid 7px #000;
    padding: 0; 
    margin: 0; 
    width: 0px; 
    height: 7px; 
  }

  td.black { border-color: #000; }
  td.white { border-color: #fff; }  
}
