<div class="contents-tabs">
	<ul class="nav nav-tabs">
  	<li class="tab-plane <% if @tabinfo == "BTC" then concat 'active' end %>">
      <%= link_to "BTC", @path1 %>
    </li>
    <li class="tab-plane <% if @tabinfo == "LTC" then concat 'active' end %>">
      <%= link_to "LTC", @path2 %>
    </li>
    <li class="tab-plane <% if @tabinfo == "MONA" then concat 'active' end %>">
      <%= link_to "MONA", @path3 %>
    </li>
	</ul>
</div>